@import "colors";

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    font-family: 'Orbitron';
    font-size: 14px;
    background: $dark;
  }
  
  body {
    margin: 0;
    padding: 0;
  }